@import './normalize.scss';
@import 'mixin.scss';

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
  list-style-type: disc;
  margin: 0;
  padding: 0;
}