@import './normalize.scss';
@import '~antd-mobile/dist/antd-mobile.min.css';
@import '~antd/dist/antd.min.css';

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  @font-face {
    font-family: "MuseoSans", sans-serif;
    src: url("../fonts/museo-sans/MuseoSans_700-webfont.woff") format("woff"),
      url("../fonts/museo-sans/MuseoSans_700-webfont.ttf") format("truetype"),
      url("../fonts/museo-sans/MuseoSans_700-webfont.svg") format("svg");
    font-weight: 400;
    font-style: normal;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 2px;
}